.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;

    .header_logo {
        .logo {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .title_name {
                font-family: 'Roboto', cursive;
                font-size: 25px;
                letter-spacing: 5px;
                color: white;

                &:visited {
                    color: white;
                }
            }

            img {
                max-height: 45px;
                max-width: 45px;
            }
        }
    }

    .navigation {
        display: flex;
        gap: 25px;
    }

    .call_us {
        input {
            background-color: #399950;
            color: white;
            font-weight: 600;
            font-size: 16px;
            padding: 5px 24px;
            border-radius: 12px;
            border: 1px;
            cursor: pointer;
            transform: scale(1.01);
            transition: 0.7s;

            &:hover {
                background-color: #337603;
                transform: scale(1.1);
                transition: 0.7s;
            }

            &:active {
                opacity: 0.7;
            }
        }
    }
}

.links {
    font-size: 16px;
    color: white;
    text-decoration: none;

    &:hover {
        opacity: 0.7;
        text-shadow: 3px 1px 2px rgb(98, 143, 184);
    }

    img {
        max-height: 25px;
        max-width: 25px;
    }
}
